/* CONTENT2 */

.content2 {
  display: flex;
  gap: 30px;
  margin-bottom: 27px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 22px;
}

.currency,
.timeZone {
  width: 100%;
}

.currency__label,
.timeZone__label {
  color: rgb(35, 35, 35);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.currency__input,
.timeZone__input {
  box-sizing: border-box;
  border: 1px solid rgb(223, 234, 242);
  border-radius: 15px;
  padding: 16px 20px;
  background: rgb(255, 255, 255);
}

.currency__input::placeholder,
.timeZone__input::placeholder {
  color: rgb(113, 142, 191);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.notification {
  margin-bottom: 27px;
}

.notification__text {
  color: rgb(51, 59, 105);
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 21px;
}

.notification__item {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 18px;
}

.notification__checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.notification__label {
  color: rgb(35, 35, 35);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.saveBtn__wrapper {
  display: flex;
  justify-content: end;
}

.saveBtn {
  border-radius: 15px;
  border: none;
  background: rgb(24, 20, 243);
  cursor: pointer;
  padding: 14px 74px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
